 
{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    References
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      {% if interest.link %}
      <h5><a href="{{ interest.link }}">{{ interest.item }}</a></h5>
      {% else %}
      <h5>{{ interest.item }}</h5>
      {% endif %}
    
      {% if interest.phone %}
      <h6 class="phone"><i class="fas fa-phone"></i>
        <a href="tel:{{ interest.phone }}">{{ interest.phone }}</a>
      </h6>
      {% endif %}
    
      {% if interest.details %}
      <div class="details">
        {{ interest.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
