{% assign interests = site.data.data.sidebar.interests %}
{% if references %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for reference in references %}

      {% if reference.link %}
      <li><a href="{{ interest.link }}">{{ reference.item }}</a></li>
      {% else %}
      <li>{{ reference.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
